<div id="score" class="attempt">
  <div class="base-layer">
    <div class="layer1">
      <div class="layer2">
        <div class="layer3">
          <h2 class="score"><%= @params %></h2>
          <%= link_to "Play again", "/", class: "attempt__back" %>
        </div>
      </div>
    </div>
</div>
</div>