$clr-purple: #7542d3;
$clr-green: #35aa91;
$clr-darker-green: #082e2d;
$clr-white: #fafafa;
$clr-black: #1a1a1a;
$clr-grey: #333;
$clr-light-grey: #aaa;

$color-list: $clr-purple $clr-green $clr-darker-green;

:root {
  font-family: 'Segoe UI', sans-serif;
}

